/*
Pallette:
LighterMainGreen: #BAEB96
MainGreen: #A4DB7C
DarkerMainGreen: #8AC561

Blue: #5B9EFB

Black: #222
*/

body.notLoggedIn {
	background-image:url(../images/big-bg.jpg);
	background-color:#222;
}

.white-bg {
	background-color:#FFF;
}

#topWrap,
.light-green-bg {
	background-color:#BAEB96;
}

.white {
	color:#FFF;
}

.black,
a {
	color:#222;
}

.blue,
a.blue {
	color:#5B9EFB;
}

.green-bg {
	background-color:#A4DB7C;
}

.darker-green,
.header a.selected {
	color:#8AC561;
}
